PX4-Autopilot/
.vscode/
gz_sim/custom_airframes/*
!gz_sim/custom_airframes/my_custom_quad/
!gz_sim/custom_airframes/quad_lift_drag/
!gz_sim/custom_airframes/README.md
gz_sim/custom_worlds/*
!gz_sim/custom_worlds/my_windy_world.sdf
!gz_sim/custom_worlds/README.md
gz_sim/custom_plugins/*
!gz_sim/custom_plugins/gz_lift_drag_plugin/
gz_sim/custom_plugins/gz_lift_drag_plugin/build/*
site/
.devcontainer/