<?xml version="1.0" ?>
<model>
  <name>lift_drag_quad</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Robotsix</name>
    <email>contact@robotsix.net</email>
  </author>
  <description>
    Multirotor model with lift and drage coefficients
  </description>
</model>