<?xml version="1.0" ?>
<model>
  <name>{{ model_name }}</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Robotsix</name>
    <email>contact@robotsix.net</email>
  </author>
  <description>
    This is a dynamically generated multirotor model.
  </description>
</model>
